<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h2>Registrar Compra</h2>
    <form method="post">
        <label>Nombre del Cliente:</label><br>
        <input type="text" name="nombre" required><br><br>

        <label>Dirección:</label><br>
        <input type="text" name="direccion" required><br><br>

        <label>Teléfono:</label><br>
        <input type="text" name="telefono" required><br><br>

        <label>Producto:</label><br>
        <input type="text" name="producto" required><br><br>

        <label>Cantidad:</label><br>
        <input type="number" name="cantidad" min="1" required><br><br>

        <label>Precio Unitario:</label><br>
        <input type="number" name="precio_unitario" step="0.01" min="0" required><br><br>

        <button type="submit">Registrar Compra</button>
    </form>
    

    <br><a href="{{ url_for('inicio') }}">Volver al inicio</a>
</body>
</html>
